{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} Haqqında {% endblock title %}

{% block content %}

<p style="font-size: 1.2rem;">
Tələbələrin sərbəst işlərini, laboratoriya işlərini və 
mühazirələri paylaşıb bir-birləri ilə əməkdaşlıq etmələri məqsədi ilə
Ayxan Şahsuvarov tərəfindən hazırlanmışdır.
<hr>
<h6>Əlaqə Nömrəsi: <small style="font-size: 0.9rem;">+994 99 899 89 51</small></h6>
<h6>Whatsapp: <small style="font-size: 0.9rem;">+994 99 899 89 51</small></h6>
<h6>Email: <small style="font-size: 0.9rem;">ayxan.shahsuvarov1@gmail.com</small></h6>
</p>

{% endblock content %}
    

