{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} {{article.title}} {% endblock title %}

{% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <!-- <div class="col-md-4">
      <img src="{{article.image.url}}" class="img-fluid rounded-start" alt="...">
    </div> -->
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <hr>
        <p class="card-text">{{article.content|safe}}</p>
        {{article.content.image}}
        <p class="card-text mt-3">
          <small class="text-muted">
            {{article.arrangement_date|timesince}} əvvəl paylaşıldı<br>
            Hazırlayan: <a href="{% url 'profile' username=article.author.username %}">{{article.author.username}}</a>
          </small>
          <hr>
          <p style="margin-bottom: 0.6rem;">{{article.files.name|cut:"files/"}}</p>
          <style>
            .download-file:hover {
              background: #fff;
              color: #218838;
            }
            .update-btn:hover {
              background: #fff;
              color: #0069D9;
            }
            .delete-btn:hover {
              background: #fff;
              color: #C82333;
            }
            .send-btn:hover {
              background: #fff;
              color: #0069D9;
            }
            .delete-comment-btn:hover {
              background: #fff;
              color: #C82333;
            }
            img {
              max-width: 100%;
              height: auto !important;
            }
          </style>
          <a href="{{article.files.url}}" class="btn btn-success download-file" download>Faylı yendir</a>
          
          {% if request.user == article.author %}
          <br>
          <a class="btn btn-primary mt-4 update-btn" href="{% url 'update-article' article.slug %}">Güncəllə</a>
          <a class="btn btn-danger mt-4 delete-btn" href="{% url 'delete-article' article.slug %}">Sil</a>
          {% endif %}
            
        </p>
      </div>
    </div>
  </div>
</div>

<h5 class="mt-5 mb-3">Şərhlər</h5>

{% if request.user.is_authenticated %}
  <form method="POST" class="mb-3">
    {% csrf_token %}
    {{add_comment_form|crispy}}
    <input type="submit" value="Göndər" class="btn btn-primary mt-3 send-btn">
  </form>
  
  {% include 'components/message.html' %}

{% else %}
  <p>Şərh yazmaq üçün daxil olmalısınız</p>
{% endif %}
  

{% for comment in comments %}
<div class="card">
  <div class="card-body" style="display: flex; flex-direction: row;">
    <div>
      {% if comment.author.avatar %}
        <img src="{{comment.author.avatar.url}}" class="rounded pt-4" style="margin-right: 2rem;" width="80px" height="auto">  
      {% else %}
        <img src="{% static 'image/no.avatar.jpg' %}" class="rounded pt-4" style="margin-right: 2rem;" width="80px" height="auto">
      {% endif %}
    </div>
    <div>
      <h5 class="card-title"><a href="{% url 'profile' username=comment.author.username %}">{{comment.author.username}}</a></h5>
      <p class="card-text">{{comment.comment}}</p>
      
      {% if request.user == comment.author or request.user == article.author %}
        <p>
          <a class="btn btn-danger mt-5 delete-comment-btn" style="padding: 3px 9px; font-size: 13.5px;" href="{% url 'delete-comment' comment.id %}">Şərhi Sil</a>
        </p>
      {% endif %}
        
    </div>
  </div>
</div>
{% empty %}
<p class="mt-3 mb-2"><b>Bu iş üçün şərh yoxdu</b></p>
{% endfor %}

{% endblock content %}
    

