{% extends 'base.html' %}
{% load static %}

{% block title %} {{profile.username}} {% endblock title %}
    

{% block content %}
    
<div class="card">
    <div class="card-body">
        <div class="card-text">
            {% if profile.avatar %}
                <img src="{{profile.avatar.url}}" style="width: 150px; height: auto; margin-right: 4rem; float: left;">  
            {% else %}
                <img src="{% static 'image/no.avatar.jpg' %}" style="width: 150px; height: auto; margin-right: 4rem; float: left;">
            {% endif %}

            <h5>İstifadəçi Adı: <small>{{profile.username}}</small></h5>
            <h5>Ad Soyad: <small>{{profile.get_full_name|default:"Qeyd Olunmayıb"}}</small></h5>
            <h5>Email: <small>{{profile.email|default:"Qeyd Olunmayıb"}}</small></h5>

            <h5>Qatıldığı Tarix: <small>{{profile.date_joined}}</small></h5>
            <h5>Son Giriş Tarixi: <small>{{profile.last_login}}</small></h5>            
        </div>
    </div>
</div>

{% endblock content %}
    

