{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="bg-dark text-center text-white" style="height: 87px;">
    <!-- Grid container -->
    <div class="container pb-0 links">
      <!-- Section: Social media -->
      <section>
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/ayxan.sahsuvarov.9" role="button"
            ><i class="fab fa-facebook"></i
        ></a>
        
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/ayxan.shahsuvarov/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/03Ayxan?s=09" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/ayxan-shahsuvarov-59a314187" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/Ayxan-z" role="button"
          ><i class="fab fa-github"></i
        ></a>
        <p>
          <a href="{% url 'contact' %}" style="margin-right: 1rem; color: #fff; font-size: 1.1rem;">Əlaqə</a>
          <a href="{% url 'about' %}" style="margin-left: 1rem; color: #fff; font-size: 1.1rem;">Haqqında</a>
        </p>
      </section>
      
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
</footer>